@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  background-color: #efefef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
}

.App {
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #ddd;
}

main {
  flex-grow: 1;
}

/* HEADER COMPONENT */
.Header {
  background-color: rgba(0, 198, 198, 0.593);
  color: #111;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}


/* NAV COMPONENT */
.Nav {
  width: 100%;
  background-color: #333;
  
}

.Nav__form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.Nav__form label {
  position: absolute;
  left: -10000px;
}

.Nav__input {
  height: 3rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  color: #111;
  font-family: inherit;
  font-weight: 600;
  width: 70%;
}

.Nav__ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0.5rem;
}

.Nav__li {
  width: 25%;
}

.Nav__li a {
  width: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  color: #eee;
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.Nav__li a:hover,
.Nav__li a:focus {
  transform: scale(1.1);
  background-color: #efefef;
  color: #333;
  font-weight: bold;
  border-radius: 10px;
}

/* HOME COMPONENT */

.Home {
  scroll-margin-block-start: 8rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  overflow-y: auto;
  align-items: center;
  
}

.Post {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 0.5rem;

}

.Post a {
  text-decoration: none;
  color: #111;
}

.Post__h2 {
  transition: all 0.5s ease-in-out;
  padding: 0.5rem;
  width: 100%;
  margin: 0 1rem;
}

.Post a:hover .Post__h2 {
  color: #111111aa;
  transform: scale(1.1);
}

.Post__date {
  font-size: 0.75rem;
}

/* POSTPAGE */
.PostPage {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 90%;
}

.post{
  width: 100%;
}

.Post__title {
  margin: 1rem 0;
}

.PostPage .Post__date {
  margin: 0.5rem 0;
}

.Post__body {
  text-indent: 1rem;
  margin: 1rem 0;
}

.deleteButton, .editButton {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  outline: none;
  font: inherit;
  color: #eee;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.deleteButton{
  background-color: rgb(109, 0, 0);
}

.editButton{
  background-color: rgb(0, 134, 187);
  margin-right: 2rem;
}

.deleteButton:hover,
.deleteButton:focus,
.editButton:hover,
.editButton:focus {
  transform: scale(1.1);
  border-radius: 15px;
}


/* NEWPOST COMPONENT */

.NewPost{
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  margin-top: 1rem;
  
}

.NewPost__form{
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem 0;
  padding: 0 0.5rem;
}

.NewPost__label{
  font-size: large;
  font-weight: bold;
  margin-bottom: 1rem;
}

.NewPost__input, .NewPost__textarea, .NewPost__btn{
  margin-bottom: 1rem;
  max-width: 400px;
  font: inherit;
  padding: 0.5rem;
}

.NewPost__btn{
  background-color: aqua;
  border: none;
  outline: none;
  font-weight: bolder;
  color: #111;
  transition: all 0.5s ease-in-out;
}

.NewPost__btn:hover,
.NewPost__btn:focus{
  background-color: rgb(0, 135, 135);
  color: #eee;
  transform: scale(1.1);
  border-radius: 1rem;
}

/* ABOUT COMPONENT */
.About{
  display: flex;
  flex-direction: column;
}

.About__h2{
  margin-top: 1rem;
  text-align: center;
}

.About p{
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}

/* ERROR */

.error {
  width: 300px;
  height: 4rem;
  margin: 4rem auto;
  text-align: center;
  font-size: 1.5rem;
}

.error a {
  transition: all 0.5s ease-in-out;
  color: inherit;
}

